.additional-goods-card__title {
  @include catalog-regular-text();
  margin-top: 0;
  margin-bottom: 0;
}

.additional-goods-card__characteristics {
  display: flex;
  flex-direction: row;
}

.additional-goods-card__characteristics {
  font-family: "Arial", sans-serif;
  margin-top: 9px;
}

.additional-goods-card__characteristics-value {
  margin-left: auto;
}

.additional-goods-card__button {
  font-size: 16px;
  line-height: 20px;
  height: 40px;
}

@media (min-width: $tablet-width) {
  .additional-goods-card__title {
    @include catalog-regular-text-tablet();
    line-height: 20px;
    margin-left: 38px;
    margin-top: 26px;
    width: 163px;
  }

  .additional-goods-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .additional-goods-card__button {
    width: 630px;
  }

  .additional-goods-card__characteristics-item, .additional-goods-card__characteristics-value {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods-card__characteristics-item {
    width: 132px;
    text-align: right;
  }

  .additional-goods-card__characteristics-value {
    margin-left: 49px;
  }

  .additional-goods-card__characteristics-value_two-digits {
    margin-left: 55px;
  }

  .additional-goods-card__characteristics {
    margin-top: 28px;
    margin-left: 244px;
    margin-bottom: 24px;
  }

  .additional-goods-card__button {
    margin-left: 38px;
    height: 40px;
    min-width: 632px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods-card__button {
    min-width: 244px;
    max-width: 244px;
    align-self: center;
  }

  .additional-goods-card__title {
    margin-left: 0;
  }

  .additional-goods-card__characteristics {
    margin-left: 163px;
  }

  .additional-goods-card__characteristics-item {
    width: 132px;
    text-align: left;
  }

  .additional-goods-card__characteristics-value {
    width: 44px;
    margin-left: 112px;
    text-align: left;
  }

  .additional-goods-card {
    min-height: 72px;
  }

  .additional-goods-card__button {
    margin-top: -3px;
  }

}
