.additional-goods-card__title {
  @include catalog-regular-text();
  margin-top: 0;
  margin-bottom: 0;
}

.additional-goods-card__characteristics {
  display: flex;
  flex-direction: row;
}

.additional-goods-card__characteristics {
  font-family: "Arial";
  margin-top: 9px;
}

.additional-goods-card__characteristics-value {
  margin-left: auto;
}

.additional-goods-card__button {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .additional-goods-card__title {
    @include catalog-regular-text-tablet();
    line-height: 20px;
    margin-left: 38px;
    margin-top: 26px;
  }

  .additional-goods-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 38px;
    position: relative;
  }

  .additional-goods-card__button {
    width: 630px;
  }

  .additional-goods-card__characteristics-item, .additional-goods-card__characteristics-value {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods-card__characteristics-item {
    margin-right: 92px;
  }

  .additional-goods-card__characteristics-value {
    position: absolute;
    right: 38px;
  }

  .additional-goods-card__characteristics {
    margin-top: 30px;
    margin-left: auto;
    margin-bottom: 23px;
  }

  .additional-goods-card__button {
    margin-left: 38px;
  }
}
