.burger-menu {
  display: flex;
  width: 24px;
  height: 18px;
  padding: 0;
  background: transparent;
  border: none;
  background-image: url(../../img/burger-menu.svg);
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .burger-menu {
    display: none;
  }
}
