.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  font-family: "Oswald", Arial, sans-serif;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  max-width: 280px;
  max-height: 40px;
}
