.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  font-family: "Oswald";
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  width: 280px;
  height: 40px;
}
