.catalog-additional-promo {
  display: flex;
  width: 280px;
  height: 290px;
  margin-top: 37px;
  margin-bottom: 35px;
  margin-left: 20px;
  background-image: url(../../img/gift.svg), url(../../img/cat-carrier.png);
  background-repeat: no-repeat;
  background-position-y: 59px, 0;
  background-position-x: center;
}

.catalog-additional-promo__link {
  text-decoration: none;
}

.catalog-additional-promo__text {
  font-family: "Arial";
  color: $color-white;
  font-size: 16px;
  line-height: 20px;
  width: 161px;
  text-align: center;
  margin-top: 187px;
  margin-left: 58px;
}
