.footer-contacts {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
}

.footer-contacts__text {
  display: flex;
  flex-direction: row;
  width: 280px;
  height: 112px;
  padding-left: 20px;
  align-items: center;
}

.footer-contacts__slogan {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-grey-400;
  width: 139px;
}

.footer-contacts__address {
  color: $color-grey-300;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  width: 139px;
}

.footer-contacts__map {
  width: 320px;
  height: 362px;
}

.footer-contacts__map-embeded {
  height: 362px;
  width: 100vw;
}

.footer-contacts_inner {
  background-color: $color-grey-50;
}

@media (min-width: $tablet-width) {
  .footer-contacts__slogan {
    font-size: 20px;
    line-height: 26px;
    width: 171px;
  }

  .footer-contacts_catalog {
    background-color: $color-white;
  }

  .footer-contacts__text {
    padding-left: 70px;
    height: 199px;
    justify-content: space-between;
    width: 630px;
  }

  .footer-contacts__address {
    white-space: pre-line;
    width: 164px;
    text-align: right;
    margin-left: auto;
    margin-bottom: 24px;
    font-size: 16px;
  }

  .footer-contacts__map {
    width: 768px;
    height: 400px;
    background-image: url(../../img/map-tablet.png);
    background-repeat: no-repeat;
  }

  .footer-contacts__map-embeded {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .footer-contacts__text {
    position: absolute;
    width: 565px;
    background-color: $color-white;
    padding-left: 0;
    justify-content: normal;
    top: 95px;
    left: 110px;
  }

  .footer-contacts {
    width: 1440px;
  }

  .footer-contacts__slogan {
    padding-left: 80px;
  }

  .footer-contacts__address {
    margin-left: 80px;
    text-align: left;
  }

  .footer-contacts__map {
    background-image: url("/img/map-desktop.png");
    width: 1440px;
  }
}
