.footer {
  background-color: $color-grey-50;
  display: flex;
  flex-direction: column;
  height: 710px;
}

.footer__logo-image {
  display: flex;
  height: 24px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  height: 236px;
  padding-top: 40px;
  align-items: center;
}

.footer__made-by {
  display: flex;
  flex-direction: row;
  width: 280px;
  height: 78px;
  justify-content: space-between;
  align-items: center;
}

.footer__made-by-link {
  text-decoration: none;
}

.footer__made-by-text {
  font-size: 16px;
  line-height: 18px;
  color: $color-grey-400;
}

@media (min-width: $tablet-width) {
  .footer {
    width: 768px;
    height: 748px;
  }

  .footer__links {
    height: 148px;
    padding-top: 0;
    flex-direction: row;
    margin-left: 30px;
  }

  .footer__made-by {
    width: 163px;
    margin-left: auto;
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    position: relative;
    height: 549px;
    width: 1440px;
}

  .footer__links {
    width: 1440px;
    margin-left: 0;
}

  .footer__logo {
    margin-left: 110px;
}

  .footer__made-by {
    margin-right: 110px;
 }
}
