.inner__title {
  @include section-title();
  padding-left: 20px;
  margin-top: 27px;
}

.inner__desc {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 39px;
  padding-left: 20px;
}

.inner__heading {
  padding: 0;
  line-height: 26px;
  @include heading-with-line();
}

@media (min-width: $tablet-width) {

  .inner__title {
  @include section-title-tablet();
  padding-left: 70px;
  margin-top: 64px;
  width: max-content;
  }

  .inner__desc {
    font-size: 20px;
    line-height: 30px;
    padding-left: 70px;
    margin-top: 54px;
    margin-bottom: 66px;
  }

  .inner__heading {
    padding: 0;
    line-height: 36px;
    @include heading-with-line-tablet();
  }

  .user-form__commentaries {
    padding-left: 0;
    margin-left: 70px;
  }

  .inner__title-catalog {
    padding-left: 30px;
  }
}

@media (min-width: $tablet-width) {
  .inner__title {
    margin-top: 64px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .inner__desc {
    padding-left: 110px;
  }

  .inner__title {
    margin-top: 74px;
    padding-left: 110px;
  }

  .inner__heading {
    @include heading-with-line-desktop();
  }
}
