.page {
  max-width: 320px;
  height: 100%;
  margin: 0 auto;
}

.page__body {
  min-height: 100%;
  background-color: $color-white;
  margin: 0;
  box-sizing: border-box;
  width: 320px;
  font-family: sans-serif;
  font-size: 14px;
}

@media (min-width: $tablet-width) {
  .page {
    max-width: 768px;
  }
  .page__body {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page {
    max-width: 1440px;
  }
  .page__body {
    width: 1440px;
  }
}
