.product-card {
  padding-left: 20px;
}

.product-card__info {
  display: flex;
  flex-direction: row;
}

.product-card__info-text-wrapper {
  display: flex;
  flex-direction: column;
  width: 142px;
}

.product-card__text-link {
  @include catalog-regular-text();
  color: $color-grey-350;
}

.product-card__title {
  margin: 0;
  width: 76px;
}

.product-card__image-link {
  display: flex;
  height: 112px;
}

.product-card__characteristics {
  margin-left: -2px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.product-card__characteristics-row {
  display: flex;
  flex-direction: row;
}

.product-card__characteristics-value {
  margin-left: auto;
}

.product-card__characteristics-item, .product-card__characteristics-value {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.product-card__button {
  margin-top: 13px;
  font-size: 16px;
  height: 40px;
}

@media (min-width: $tablet-width) {
  .product-card {
    background-color: $color-grey-50;
    width: 324px;
    height: 430px;
    padding-left: 0;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-card__info {
    flex-direction: column;
    align-items: center;
  }

  .product-card__image-link {
    height: 200px;
    margin-top: -73px;
  }

  .product-card__text-link {
    @include catalog-regular-text-tablet();
    line-height: 24px;
  }

  .product-card__title {
    text-align: center;
    margin: 0;
    width: 130px;
    align-self: center;
    text-align: center;
    margin-top: 34px;
  }

  .product-card__info-text-wrapper {
    width: 253px;
  }

  .product-card__characteristics {
    margin-top: 17px;
  }

  .product-card__characteristics-row {
    border-bottom: 1px solid $color-grey-200;
    width: 251px;
    height: 25px;
    margin-bottom: 5px;
  }

  .product-card__characteristics-item, .product-card__characteristics-value {
    font-size: 16px;
    color: $color-grey-300;
  }

  .product-card__button {
    width: 248px;
    height: 40px;
    margin-top: 28px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
  }

  .product-card__characteristics-row {
    width: 166px;
    margin-left: 46px;
    margin-bottom: 7px;
  }

  .product-card__characteristics-item, .product-card__characteristics-value {
    padding: 0;
  }

  .product-card__button {
    margin-top: 25px;
    width: 168px;
  }
}
