.product-case {
  background: $color-grey-75;
  min-height: 700px;
}

.product-case__title {
  @include main-title();
  padding: 25px 20px 0;
}

.product-case__desc {
  @include main-desc();
  color: $color-grey-250;
  padding-left: 20px;
  width: 280px;
  margin: 40px 0 20px;
}

.product-case__desc br {
  display: none;
}

@media (min-width: $tablet-width) {

  .product-case {
    background-color: $color-white;
    position: relative
  }

  .product-case__title {
    @include section-title-tablet();
    padding-top: 43px;
    padding-left: 30px;
  }

  .product-case__desc {
    @include main-desc-tablet();
    margin-top: 62px;
    width: 708px;
    padding-left: 30px;
  }

  .product-case__desc br {
    display: block;
  }
}
