.product-type-card {
  background-color: $color-grey-50;
  width: 280px;
  height: 266px;
}

.product-type-card__title {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-left: 91px;
  padding-top: 30px;
}

.product-type-card_fit {
  background-image: url(/img/product-type-lose-weight.svg);
  background-repeat: no-repeat;
  background-position: 22px 21px;
}

.product-type-card_gain {
  background-image: url(/img/product-type-gain-weight.svg);
  background-repeat: no-repeat;
  background-position: 13px 24px;
}

.product-type-card__desc {
  @include main-desc();
  width: 227px;
  padding-left: 20px;
  padding-top: 29px;
  margin: 0;
  color: $color-grey-300;
}

.product-type-card__link {
  display: flex;
  width: 240px;
  height: 57px;
  margin-left: 20px;
  margin-top: 23px;
  border-top: 1px solid $color-grey-150;
  box-sizing: content-box;
  text-decoration: none;
  align-items: center;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: $color-black;
  background-image: url(/img/product-type-arrow.svg);
  background-repeat: no-repeat;
  background-position: 101px 21px;
}

@media (min-width: $tablet-width) {
  .product-type-card {
  width: 708px;
  height: 372px;
  }

  .product-type-card__title {
    font-size: 36px;
    line-height: 36px;
    padding-top: 77px;
    padding-left: 53px;
  }

  .product-type-card__desc {
    @include main-desc-tablet();
    width: 340px;
    padding-left: 52px;
    padding-top: 24px;
  }

  .product-type-card_fit {
    background-size: 200px 211px;
    background-position-x: 446px;
    background-position-y: 81px;
  }

  .product-type-card_gain {
    background-size: 268px 200px;
    background-position-x: 412px;
    background-position-y: 91px;
  }

  .product-type-card__link {
    font-size: 20px;
    height: 30px;
    border-top: none;
    background-position: left 131px top 9px;
    margin-left: 52px;
    margin-top: 52px;
  }
}
