.products__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 41px;
  margin-bottom: 0;
  padding: 0;
}

.products__list-item {
  display: flex;
  padding-top: 19px;
  padding-bottom: 23px;
  border-top: 1px solid $color-grey-100;
  border-bottom: 1px solid $color-grey-100;
  box-sizing: border-box;
}

.products__show-more {
  padding-top: 6px;
  border-bottom: 1px solid $color-grey-100;
  margin-left: 20px;
  border-bottom: none;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.products__show-more-button {
  border: none;
  padding: 0;
  background-image: url(../../img/show-more-button.svg);
  display: flex;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 auto;
}

.products__show-more-title {
  @include catalog-regular-text();
  color: $color-grey-400;
  display: flex;
  margin-top: 23px;
  margin-bottom: 0;
  justify-content: center;
}

.products__show-more-text {
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: $color-grey-300;
  margin-top: 8px;
  margin-bottom: 21px;
}

.products__show-more-link {
  display: flex;
  margin: 0 auto;
  background-color: $color-grey-50;
  color: $color-grey-300;
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .products__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 90px+73px;
    row-gap: 141px;
    column-gap: 60px;
    margin-left: 30px;
  }

  .products__list-item {
    border: none;
    padding: 0;
  }
  .products__show-more {
    margin-left: 0;
    padding: 0;
    border: 2px solid $color-grey-50;
    box-sizing: border-box;
    width: 324px;
  }

  .products__show-more-button {
    background-image: url(../../img/show-more-button-big.svg);
    width: 60px;
    height: 60px;
    margin-top: 50px;
  }

  .products__show-more-title {
    @include catalog-regular-text-tablet();
    width: 134px;
    text-align: center;
    line-height: 22px;
    align-self: center;
    margin: 49px auto 0;
  }

  .products__show-more-text {
    font-size: 16px;
    line-height: 18px;
    width: 169px;
    text-align: center;
    margin: 23px auto 0;
  }

  .products__show-more-link {
    width: 248px;
    height: 40px;
    margin-top: 87px;
  }
}

@media (min-width: $desktop-width) {
  .products__list-item {
    width: 245px;
  }

  .products__list {
    margin-left: 110px;
    column-gap: 80px;
    row-gap: 144px;
  }

  .products__show-more-link {
    width: 168px;
  }
}
