.product-case {
  background: $color-grey-75;
  min-height: 700px;
}

.product-case__title {
  @include main-title();
  padding: 25px 20px 0;
}

.product-case__desc {
  @include main-desc();
  color: $color-grey-250;
  padding-left: 20px;
  width: 280px;
  margin: 40px 0 20px;
}

.product-case__spendings {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 20px;
  color: $color-black;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.product-case__spendings-number {
  margin-left: 5px;
}


.product-case__desc br {
  display: none;
}

@media (min-width: $tablet-width) {

  .product-case {
    background-color: $color-white;
    position: relative
  }

  .product-case__spendings {
    font-size: 20px;
    width: 174px;
    text-align: right;
    position: absolute;
    left: 563px;
    top: 278px;
    line-height: 23px;
    display: flex;
    flex-direction: column;
  }

  .product-case__spendings-number {
    margin-left: 4px;
    margin-top: 8px;
  }

  .product-case__title {
    @include section-title-tablet();
    padding-top: 43px;
    padding-left: 30px;
  }

  .product-case__desc {
    @include main-desc-tablet();
    margin-top: 62px;
    width: 702px;
    padding-left: 30px;
  }

  .product-case__desc br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .product-case__title {
    padding-top: 0;
    padding-left: 110px;
  }

  .product-case {
    display: flex;
    flex-direction: row;
  }

  .product-case__wrapper {
    display: flex;
    flex-direction: column;
  }

  .product-case__spendings {
    font-size: 20px;
    width: 174px;
    text-align: right;
    position: absolute;
    left: 110px;
    top: 484px;
    line-height: 23px;
    flex-direction: row;
    min-width: 327px;
    text-align: center;
  }

  .product-case__spendings-number {
    margin-top: 0;
    margin-left: 63px;
  }

  .product-case__desc {
    width: 436px;
    margin-top: 146px;
    padding-left: 110px;
    margin-bottom: 69px;
  }

  .product-case__desc br {
    display: none;
  }

  .product-case {
    background: linear-gradient(to top, #f2f2f2 77%, #ffffff 30%);
    min-height: 598px;
  }

}
