.promo-block {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  min-height: 480px;
  background-image: url("/../img/promo-block-bg.png");
  background-position: top;
  background-repeat: no-repeat, no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("/../img/promo-block-bg@2x.png");
    background-size: 320px auto;
  }
}

.promo-block__image {
  position: absolute;
  top: 167px;
  left: 20px;
}

.promo-block__title {
  @include section-title();
  color: $color-white;
  text-align: center;
  padding-top: 27px;
}

.promo-block__desc {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-white;
  margin-top: 25px;
  margin-bottom: 29px;
}

.promo-block__button {
  margin-top: auto;
  padding: 10px 74px;
}

@media (min-width: $tablet-width) {
  .promo-block {
    margin-top: 62px;
    height: 810px;
    background-image: none;
  }

  .promo-block__title {
    @include section-title-tablet();
    color: $color-black;
    padding-top: 0;
    text-align: left;
    margin-left: 117px;
    width: 416px;
    align-self: start;
  }

  .promo-block__image {
    top: 201px;
    left: 29px;
    background-color: $color-white;
  }

  .promo-block__desc {
    @include index-regular-text-tablet();
    color: $color-black;
    margin-top: 41px;
    align-self: start;
    margin-left: 117px;
  }

  .promo-block__button {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 27px;
    max-width: 244px;
    max-height: 54px;
    margin-top: 19px;
    align-self: start;
    margin-left: 120px;
    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .promo-block {
    margin-top: 111px;
    max-height: 471px;
    background-image: none;
    position: relative;
  }

  .promo-block__title {
    margin-left: 190px;
  }

  .promo-block__desc {
    margin-left: 190px;
    margin-top: 40px;
  }

  .promo-block__button {
    margin-left: 190px;
  }

  .promo-block__image {
    position: absolute;
    left: 558px;
    top: -84px;
    background-color: transparent;
  }
}
