.slider__image-before {
  padding-left: 20px;
}

.slider__button {
  background: transparent;
  border: none;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  text-transform: uppercase;
}

.slider__range {
  -webkit-appearance: none;
  position: relative;
  border-radius: 8px;
  border: 1px solid $color-grey-200;
  box-sizing: border-box;
  width: 86px;
  height: 14px;
  margin: 0;
}

.slider__range::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 25%;
  width: 36px;
  height: 6px;
  border-radius: 50px;
  background: $color-primary;
}

.slider__range::-webkit-slider-thumb {
  appearance: none;
}

.slider__controls {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  width: 210px;
  margin: 15px auto 0px;
  padding-bottom: 40px;
}

@media (min-width: $tablet-width) {

  .slider {
    background: linear-gradient(to top, #f2f2f2 73%, #ffffff 30%);
  }

  .slider__image {
    background-image: url(/img/cat-tablet.png);
    display: flex;
    height: 511px;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: 89px;
  }

  .slider__image-before {
    display: none;
  }

  .slider__range {
    background-color: $color-grey-135;
    height: 6px;
  }

  .slider__toggle {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.3s;
    transition: 0.3s; }

    .slider__toggle::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 8px;
      height: 8px;
      margin: auto;
      border-radius: 50%;
      background-color: #68b738;
    }

  .slider__range::after {
    display: none;
  }

  .slider__button {
    padding: 0px 11px;
  }

  .slider__button-text {
    min-width: 47px;
    max-width: 51px;
  }

  .slider__controls {
    margin-top: 29px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 592px;
    padding-bottom: 56px;
    position: relative;
  }

  .slider__button {
    font-size: 20px;
  }

  .slider__button-text {
    border-bottom: 1px dotted $color-grey-225;
  }

  .slider__range {
    min-width: 426px;
    gap: 13px;
  }
}

@media (min-width: $desktop-width) {

  .slider {
    background: none;
    width: 894px;
  }

  .slider__image {
    margin-top: -40px;
    margin-left: 193px;
  }

  .slider__controls {
    margin-left: 193px;
    margin-top: 24px;
  }

  .slider__range {
    border: none;
    height: 6px;
  }
}
