.user-form {
  max-width: 320px;
  border-top: 1px solid $color-grey-150;
}

.user-form__fieldset {
  border: none;
}

.user-form__parameters {
  padding: 0;
  margin: 0;
  width: 320px;
  border-bottom: 1px solid $color-grey-150;
}

.user-form__inputs {
  list-style: none;
  padding: 0 20px;
  margin-top: 0;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.user-form__text-input::placeholder {
  @include form-regular-text();
  transform: translate3d(0, 2px, 0);
}

.user-form__text-input {
  border: 1px solid $color-grey-125;
  box-sizing: border-box;
  height: 45px;
  min-width: 171px;
  padding: 0;
  flex-grow: 1;
  margin-left: 14px;
  padding-left: 15px;
}

.user-form__programs {
  width: 320px;
  border-bottom: 1px solid $color-grey-150;
  padding: 0;
  margin: 0;
}

.user-form__radio {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 20px;
}

.user-form__radio-item {
  display: flex;
  flex-direction: row;
  padding-left: 65px;
}

.user-form__radio-button {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.user-form__radio-checkmark {
  position: absolute;
  left: 20px;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid $color-grey-200;
  box-sizing: border-box;
}

.user-form__radio-button:checked ~ .user-form__radio-checkmark {
  background-color: transparent;
}

.user-form__radio-checkmark:after {
  content: "";
  position: relative;
  display: none;
}

.user-form__radio-button:checked ~ .user-form__radio-checkmark:after {
  display: block;
}

.user-form__radio-checkmark::after {
  top: 25%;
  left: 25%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $color-primary;
}

.user-form__contact-info {
  padding-left: 20px;
  padding-bottom: 0;
  margin-top: 26px;
  margin-left: 0;
}

.user-form__contacts {
  list-style: none;
  padding: 0;
  margin-top: 33px;
  gap: 13px;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  flex-grow: 1;
  margin-bottom: 24px;
}

.user-form__contacts-item {
  display: flex;
  flex-direction: row;
}

.user-form__contacts-input_email {
  background-image: url(../../img/email.svg);
  background-repeat: no-repeat;
  background-position-x: 184px;
  background-position-y: 50%
}

.user-form__contacts-input_phone {
  background-image: url(../../img/phone.svg);
  background-repeat: no-repeat;
  background-position-x: 171px;
  background-position-y: 50%
}

.user-form__commentaries {
  padding-top: 0;
  padding-left: 20px;
  padding-bottom: 0;
}

.user-form__textarea {
  display: flex;
  width: 280px;
  height: 151px;
  margin-left: 0;
  margin-top: 38px;
  padding-top: 3px;
  border: 1px solid $color-grey-125;
  box-sizing: border-box;
  resize: none;
}

.user-form__options {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  margin-top: 24px;
}

.user-form__checkbox-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-top: 34px;
  margin-bottom: 37px;
  padding-left: 46px;
}

.user-form__checkbox-item {
  display: flex;
  flex-direction: row;
}

.user-form__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.user-form__checkbox-checkmark {
  position: absolute;
  left: 20px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 1px solid $color-grey-200;
  box-sizing: border-box;
}

.user-form__checkbox:checked ~ .user-form__checkbox-checkmark {
  background-image: url(../../img/checkbox-checkmark.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

.user-form__checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.user-form__checkbox:checked ~ .user-form__checkbox-checkmark:after {
  display: block;
}

.user-form__button {
  border: none;
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
}

.user-form__footnote {
  display: flex;
  margin-top: 21px;
  margin-bottom: 32px;
  justify-content: center;
}
