@mixin header-nav-link() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: $color-black;
}

@mixin section-title() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}

@mixin section-title-tablet() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
}


@mixin main-desc() {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

@mixin main-desc-tablet() {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

@mixin main-title() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  color: $color-black;
}

@mixin form-regular-text() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: $color-grey-300;
}

@mixin form-regular-text-tablet() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: normal;
  text-transform: uppercase;
  color: $color-grey-300;
}

@mixin form-heading() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: $color-black;
}

@mixin catalog-regular-text() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin catalog-regular-text-tablet() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin heading-with-line() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  color: $color-black;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  padding-right: 22px;
  background-color: $color-white;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: 1px;
    width: 100vw;
    height: 2px;
    background: #68b738;
    z-index: -1;
  }
}

@mixin heading-with-line-tablet() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  color: $color-black;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  padding-right: 40px;
  background-color: $color-white;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: 4px;
    width: 100vw;
    height: 2px;
    background: #68b738;
    z-index: -1;
  }

  &::before  {
    content: "";
    position: absolute;
    top: 50%;
    left: -70px;
    margin-top: 4px;
    width: 30px;
    height: 2px;
    background: #68b738;
    z-index: -1;
  }
}

@mixin heading-with-line-desktop() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  color: $color-black;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  padding-right: 40px;
  background-color: $color-white;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: 4px;
    width: 100vw;
    height: 2px;
    background: #68b738;
    z-index: -1;
  }

  &::before  {
    content: "";
    position: absolute;
    top: 50%;
    left: -110px;
    margin-top: 4px;
    width: 70px;
    height: 2px;
    background: #68b738;
    z-index: -1;
  }
}

@mixin index-regular-text-tablet() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
