// Colors

$color-primary: #68B738;
$color-black: #000000;
$color-white: #FFFFFF;
$color-grey-50: #F2F2F2; // For most BGs
$color-grey-75: #EAEAEA;
$color-grey-100: #EBEBEB;
$color-grey-115: #E6E6E6;
$color-grey-125: #E7E7E7;
$color-grey-135: #DCDCDC;
$color-grey-150: #D9D9D9; // For borders
$color-grey-200: #CDCDCD;
$color-grey-225: #B2B2B2;
$color-grey-250: #666666;
$color-grey-300: #444444;
$color-grey-350: #222222;
$color-grey-400: #111111;

//Screen sizes

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
